@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Петар Пипоски 171001<br />
    Јован Димовски 173221<br />
    Климент Трајановски 171039<br />
    Борис Велјановски 173008<br />
</address>