@model Library.Models.GenreModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
@foreach (var item in Model.Books)
{
    <div class="bookbox">
        @item.Name
        <br />
        <a href="/Books/Details/@item.id"><img src="@item.PhotoUrl" height="200" width="140" /></a>
        <br>
    </div>
}
<p>@Html.ActionLink("Back to List", "Index")</p>
<style>
    .bookbox {
        display: inline-block;
        height: 300px;
        width: 150px;
    }
</style>